body,
html {
  background: #f4f4f4;
}
div.app div.header div.head_top {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999999;
  background: #e3e4e5;
}
div.app div.header div.head_top div.head_top_t.container div.position {
  float: left;
}
div.app div.header div.head_top div.head_top_t.container div.position i.iconfont.icon-icon-test {
  color: #f10215;
  font-size: 12px;
}
div.app div.header div.head_top div.head_top_t.container div.position b {
  margin-left: 6px;
  cursor: pointer;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right {
  float: right;
  display: flex;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li {
  margin-left: 10px;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li a {
  padding-right: 10px;
  border-right: 2px solid #cccccc;
  color: #999999;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li a:hover {
  color: #e2231a;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li i {
  font-size: 12px;
  margin-left: 4px;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li.login i a {
  border: none;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li.myjd i.iconfont.icon-xia {
  font-size: 12px;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li.company a {
  color: #e2231a;
}
div.app div.header div.head_top div.head_top_t.container ul.head_top_t_right li.phonejd a {
  border: none;
}
div.app div.header div.head_main {
  background: #ffffff;
}
div.app div.header div.head_main div.head_main_m.container {
  overflow: hidden;
  height: 140px;
}
div.app div.header div.head_main div.head_main_m.container div.head_left_logo {
  height: 120px;
  overflow: hidden;
  float: left;
  margin-top: 10px;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever {
  height: 120px;
  width: 760px;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever {
  position: relative;
  height: 60px;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.sever_left {
  width: 490px;
  height: 36px;
  border: 2px solid #e2231a;
  float: left;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.sever_left input {
  float: left;
  width: 428px;
  height: 32px;
  border: none;
  padding-left: 10px;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.sever_left i {
  position: absolute;
  top: 10px;
  left: 400px;
  cursor: pointer;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.sever_left i:hover {
  color: #f10215;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.sever_left span {
  float: left;
  width: 58px;
  height: 32px;
  background: #e2231a;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.cart {
  width: 132px;
  height: 36px;
  border: 1px solid #eeeeee;
  float: left;
  margin-left: 20px;
  color: #f10215;
  font-size: 14px;
  line-height: 34px;
  cursor: pointer;
  position: relative;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.cart b.goodsNum {
  position: absolute;
  top: -2px;
  left: 24px;
  background: #f10215;
  padding: 2px;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  line-height: 16px;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.cart i {
  margin: 0 10px;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever div.sever_left_top div.cart:hover {
  border: #f10215 1px solid;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever ul.sever_nav {
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 12px;
  display: flex;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever ul.sever_nav li {
  color: #999999;
  margin-right: 10px;
  cursor: pointer;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever ul.sever_nav li:hover {
  color: #c81623;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever div.top_sever ul.sever_nav li:first-child {
  color: #c81623;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever ul.nav {
  display: flex;
  line-height: 70px;
  font-size: 16px;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever ul.nav li {
  margin: 0 8px;
  color: #333333;
  cursor: pointer;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever ul.nav li:hover {
  color: #e1251b;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever ul.nav li:first-child {
  margin-left: 0;
}
div.app div.header div.head_main div.head_main_m.container div.head_right_sever ul.nav li:first-child,
div.app div.header div.head_main div.head_main_m.container div.head_right_sever ul.nav li:nth-child(2) {
  color: #e1251b;
  font-weight: 600;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top {
  height: 470px;
  margin: 10px 0 20px;
  background: lightblue;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top-nav {
  width: 190px;
  padding: 14px;
  padding-right: 0;
  float: left;
  background: #999999;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top-nav ul.right_nav {
  font-size: 14px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top-nav ul.right_nav li {
  line-height: 24px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top-nav ul.right_nav li a {
  color: #333333;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top-nav ul.right_nav li a:hover {
  color: #c81623;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow {
  position: relative;
  width: 590px;
  height: 470px;
  margin: 0 10px;
  float: left;
  background: #ccc;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow div.slider-img ul {
  position: relative;
  width: 590px;
  height: 470px;
  overflow: hidden;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow div.slider-img ul li {
  position: absolute;
  width: 590px;
  height: 470px;
  float: left;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow div.slider-img ul li a img {
  width: 590px;
  height: 470px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow div.slider-ctrl span {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background: rgba(68, 68, 68, 0.6);
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow div.slider-ctrl span#prev.prev {
  left: 0;
  border-radius: 0 15px 15px 0;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow div.slider-ctrl span#next.next {
  right: 0;
  border-radius: 15px 0 0 15px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow ul.slider_point {
  width: 170px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 50px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.bannerSlideshow ul.slider_point li {
  width: 10px;
  height: 10px;
  background: red;
  margin: 0 2px;
  border-radius: 10px;
  float: left;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right {
  width: 190px;
  float: left;
  padding: 10px;
  background: #ffffff;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login {
  height: 102px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_top {
  height: 40px;
  font-size: 14px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  float: left;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_top div.index_login_top_r {
  color: #666666;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_top div.index_login_top_r p {
  margin-bottom: 2px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_bottom {
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_bottom span {
  display: inline-block;
  width: 82px;
  height: 25px;
  padding: 2px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_bottom span:first-child {
  background: #e1251b;
  color: aliceblue;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_bottom span:last-child {
  background: #363634;
  color: #e5d790;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_top_login div.index_login_bottom span:last-child:hover {
  background: #e1251b;
  color: aliceblue;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news {
  height: 112px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news div.jdNews {
  height: 20px;
  line-height: 20px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news div.jdNews span {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news div.jdNews b {
  float: right;
  font-size: 12px;
  cursor: pointer;
  color: #999999;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news ul.newList {
  height: 88px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news ul.newList li {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  cursor: pointer;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news ul.newList li span {
  margin-top: 4px;
  height: 16px;
  width: 35px;
  text-align: center;
  line-height: 16px;
  margin-right: 6px;
  background: rgba(225, 37, 27, 0.08);
  display: block;
  float: left;
  margin-right: 4px;
  color: #e1251b;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.right_main_news ul.newList li b {
  width: 130px;
  height: 22px;
  line-height: 22px;
  display: block;
  float: left;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness {
  height: 238px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul {
  height: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li i {
  font-size: 28px;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li b {
  font-size: 12px;
  color: #333333;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(1),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(8),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(11) i {
  color: #5aaae5;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(2),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(4),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(12) i {
  color: #f2a234;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(3),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(5),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(7) i {
  color: #40d7c7;
}
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(6),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(9),
div.app div.main div.main-top div.brandOptimization div.brandOptimization_top div.brandOptimization_top_right div.otherBusiness ul li:nth-child(10) i {
  color: #eb675e;
}
div.app div.main div.main-top div.brandOptimization div.seckill {
  height: 260px;
  background: lightpink;
}
div.app div.main div.main-top div.brandOptimization div.specialOffer {
  height: 305px;
  background: lightgreen;
}
div.app div.main div.main-top div.brandOptimization div.findGood {
  height: 260px;
  background: lightblue;
}
div.app div.main div.main-top div.brandOptimization div.newProduct {
  height: 305px;
  background: red;
}
div.app div.main div.main-top div.channelSquare {
  height: 845px;
  background: pink;
}
div.app div.footer div.foot_top.container {
  height: 104px;
  line-height: 104px;
  display: flex;
  justify-content: space-around;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #444444;
  border-bottom: 1px solid #dedede;
}
div.app div.footer div.foot_top.container div.foot_top01 i {
  width: 36px;
  height: 42px;
  display: block;
  float: left;
  position: absolute;
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) 0px 42px;
  top: 31px;
}
div.app div.footer div.foot_top.container div.foot_top01 p {
  margin-left: 46px;
}
div.app div.footer div.foot_top.container div.foot_top02 i {
  width: 36px;
  height: 42px;
  display: block;
  float: left;
  position: absolute;
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -41px 42px;
  top: 31px;
}
div.app div.footer div.foot_top.container div.foot_top02 p {
  margin-left: 46px;
}
div.app div.footer div.foot_top.container div.foot_top03 i {
  width: 36px;
  height: 42px;
  display: block;
  float: left;
  position: absolute;
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -82px 42px;
  top: 31px;
}
div.app div.footer div.foot_top.container div.foot_top03 p {
  margin-left: 46px;
}
div.app div.footer div.foot_top.container div.foot_top04 i {
  width: 36px;
  height: 42px;
  display: block;
  float: left;
  position: absolute;
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -123px 42px;
  top: 31px;
}
div.app div.footer div.foot_top.container div.foot_top04 p {
  margin-left: 46px;
}
div.app div.footer div.foot_main.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
}
div.app div.footer div.foot_main.container dl {
  max-width: 176px;
}
div.app div.footer div.foot_main.container dl dt {
  font-size: 14px;
  line-height: 30px;
  color: #666666;
}
div.app div.footer div.foot_main.container dl dd {
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}
div.app div.footer div.foot_main.container dl dd a {
  color: #666666;
}
div.app div.footer div.foot_main.container dl dd a:hover {
  color: #c81623;
}
div.app div.footer div.foot_main.container dl:last-child a {
  float: right;
}
div.app div.footer div.foot_bot.container {
  padding: 10px;
}
div.app div.footer div.foot_bot.container ul.aboutUs {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
div.app div.footer div.foot_bot.container ul.aboutUs li {
  border-right: 1px solid #dedede;
  padding-right: 6px;
  margin-left: 6px;
  line-height: 20px;
}
div.app div.footer div.foot_bot.container ul.aboutUs li a {
  color: #666666;
}
div.app div.footer div.foot_bot.container ul.aboutUs li a:hover {
  color: #c81623;
}
div.app div.footer div.foot_bot.container ul.aboutUs li:last-child {
  border: none;
}
div.app div.footer div.foot_bot.container ul.putOnRecords {
  display: flex;
  font-size: 12px;
  margin: 10px 0 2px 110px;
  height: 20px;
}
div.app div.footer div.foot_bot.container ul.putOnRecords li {
  border-right: 1px solid #dedede;
  padding-right: 6px;
  margin-left: 6px;
  line-height: 20px;
}
div.app div.footer div.foot_bot.container ul.putOnRecords li a {
  color: #666666;
}
div.app div.footer div.foot_bot.container ul.putOnRecords li a:hover {
  color: #c81623;
}
div.app div.footer div.foot_bot.container ul.putOnRecords li:last-child {
  border: none;
}
div.app div.footer div.foot_bot.container ul.licence {
  display: flex;
  font-size: 12px;
  margin: 0px 0 0px 74px;
  height: 20px;
}
div.app div.footer div.foot_bot.container ul.licence li {
  border-right: 1px solid #dedede;
  padding-right: 6px;
  margin-left: 6px;
  line-height: 20px;
}
div.app div.footer div.foot_bot.container ul.licence li a {
  color: #666666;
}
div.app div.footer div.foot_bot.container ul.licence li a:hover {
  color: #c81623;
}
div.app div.footer div.foot_bot.container ul.licence li:last-child {
  border: none;
}
div.app div.footer div.foot_bot.container ul.copyright {
  display: flex;
  font-size: 12px;
  margin: 0px 0 0px 112px;
  height: 20px;
}
div.app div.footer div.foot_bot.container ul.copyright li {
  border-right: 1px solid #dedede;
  padding-right: 6px;
  margin-left: 6px;
  line-height: 20px;
}
div.app div.footer div.foot_bot.container ul.copyright li a {
  color: #666666;
}
div.app div.footer div.foot_bot.container ul.copyright li a:hover {
  color: #c81623;
}
div.app div.footer div.foot_bot.container ul.copyright li:last-child {
  border: none;
}
div.app div.footer div.foot_bot.container ul.state {
  display: flex;
  font-size: 12px;
  margin: 0px 0 0px 200px;
  height: 20px;
}
div.app div.footer div.foot_bot.container ul.state li {
  border-right: 1px solid #dedede;
  padding-right: 6px;
  margin-left: 6px;
  line-height: 20px;
}
div.app div.footer div.foot_bot.container ul.state li i {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
}
div.app div.footer div.foot_bot.container ul.state li a {
  color: #666666;
}
div.app div.footer div.foot_bot.container ul.state li a:hover {
  color: #c81623;
}
div.app div.footer div.foot_bot.container ul.state li:first-child i {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -108px -150px;
}
div.app div.footer div.foot_bot.container ul.state li:nth-child(2) i {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -128px -150px;
}
div.app div.footer div.foot_bot.container ul.state li:nth-child(3) i {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -148px -150px;
}
div.app div.footer div.foot_bot.container ul.state li:nth-child(4) i {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -168px -150px;
}
div.app div.footer div.foot_bot.container ul.state li:last-child i {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -108px -168px;
}
div.app div.footer div.foot_bot.container ul.state li:last-child {
  border: none;
}
div.app div.footer div.foot_bot.container ul.sub {
  display: flex;
  font-size: 12px;
  margin: 0px 0 0px 370px;
  height: 20px;
}
div.app div.footer div.foot_bot.container ul.sub li {
  border-right: 1px solid #dedede;
  padding-right: 6px;
  margin-left: 6px;
  line-height: 20px;
  color: #666666;
}
div.app div.footer div.foot_bot.container ul.sub li a {
  color: #666666;
}
div.app div.footer div.foot_bot.container ul.sub li a:hover {
  color: #c81623;
}
div.app div.footer div.foot_bot.container ul.sub li:last-child {
  border: none;
}
div.app div.footer div.foot_bot.container ul.netPolice {
  display: flex;
  margin: 40px 150px;
}
div.app div.footer div.foot_bot.container ul.netPolice li {
  width: 102px;
  height: 32px;
  margin: 0 5px;
}
div.app div.footer div.foot_bot.container ul.netPolice li a {
  width: 102px;
  height: 32px;
  display: block;
}
div.app div.footer div.foot_bot.container ul.netPolice li:first-child {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -206px -112px;
}
div.app div.footer div.foot_bot.container ul.netPolice li:nth-child(2) {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -206px -74px;
}
div.app div.footer div.foot_bot.container ul.netPolice li:nth-child(3) {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -206px -37px;
}
div.app div.footer div.foot_bot.container ul.netPolice li:nth-child(4) {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -206px 0px;
}
div.app div.footer div.foot_bot.container ul.netPolice li:nth-child(5) {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) 0px -156px;
}
div.app div.footer div.foot_bot.container ul.netPolice li:last-child {
  background: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) -206px -148px;
}
.container {
  width: 990px;
  margin: 0 auto;
}
